.container {
    width: 1700px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    background-color: azure;
}

.box {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: bisque;
    margin-top: 250px;
    border-radius: 50%;
}

.title {
    position: absolute;
    top: 70%;
    left: 20%;
    z-index: 4;
}

.img_1 {
    width: 270px;
    height: 270px;
    position: absolute;
    top: -15px;
    left: 15;
    transition: transform 0.5s ease;
    z-index: 2;
}

.img_2 {
    width: 270px;
    height: 270px;
    position: absolute;
    top: -2px;
    left: 15px;
    transition: transform 0.5s ease;
    z-index: 2;
}

.img_3 {
    width: 185px;
    height: 185px;
    position: absolute;
    top: 65px;
    left: 65px;
    z-index: 1;
    transition: transform 0.5s ease, z-index 0.5s ease;
}

.box:hover .img_2 {
    transform: translate(90px, -100px) rotate(53deg) scale(1.04);
    z-index: 1;
}

.box:hover .img_1 {
    transform: scale(1.05);
    z-index: 3;
}

.box:hover .img_3 {
    transform: translate(87px, -290px) rotateY(1turn) scale(1.25);
    z-index: 2;
}

.img_4 {
    width: 185px;
    height: 185px;
    position: absolute;
    top: 65px;
    left: 65px;
    z-index: 1;
    scale: 0.9;
    transition: transform 0.5s ease, z-index 0.5s ease;
}

.box:hover .img_4 {
    transform: translate(0, -150px) rotateX(5turn) scale(1.25);
}

.txt{
    width: 185px;
    height: 185px;
    position: absolute;
    top: 65px;
    left: 65px;
    z-index: 1;
    transition: transform 0.5s ease, z-index 0.5s ease;
    transition-duration: 1s;
}

.box:hover .txt {
    transform: translate(0, -168px) rotateY(1turn) scale(1.25);
}

.overflov{
    position: absolute;
    top: 315px;
    left: -30px;
    width: 350px;
    height: 150px;
    background-color: bisque;
    transition: transform 0.5s ease-in-out 0.5s;
    transform: translateX(-450px);
}

.box:hover .overflov{
    transform: translateX(0);
}

.title-2{
    z-index: 1;
    margin-top: 50px;
    margin-left: 10px;
}